.choresText {
   color: rgb(137, 85, 197);
   font-family:'Times New Roman', Times, serif;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   color: rgb(87, 22, 131);
   text-decoration: underline;
   font-family:'Times New Roman', Times, serif ;
   font-size: 50px;
   text-align: left;
}